<h1>Edit E-scooter</h1>

<%= simple_form_for @e_scooter do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :street_name %>
  <%= f.input :disponibility_start %>
  <%= f.input :disponibility_end %>
  <%= f.submit "Create new e-scooter", class: "btn btn-primary" %>
<% end %>
