<div class="banners" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1566936737687-8f392a237b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>Edit E-scooter</h1>
  </div>
</div>




<div class="container">
  <%= simple_form_for @e_scooter do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :street_name %>
    <%= f.input :disponibility_start %>
    <%= f.input :disponibility_end %>
    <%= f.submit "Update your e-scooter", class: "btn btn-primary" %>
  <% end %>
</div>
