<div class="banners" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1566936737687-8f392a237b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>Your E-scooter</h1>
  </div>
</div>

<div class="container mt-3">
  <div>
    <h2><%= @e_scooter.name %></h2>
    <p><%= @e_scooter.description %></p>
    <p><%= @e_scooter.price %>€/jour</p>
    <p><%= @e_scooter.street_name %></p>
    <p><%= @e_scooter.disponibility_start %></p>
    <p><%= @e_scooter.disponibility_end %></p>
  </div>
  <p><% if user_signed_in? && current_user.owner == true %>
    <p><%= link_to "Edit this e_scooter", edit_e_scooter_path(@e_scooter), class: "btn btn-secondary mt-3" %></p>
    <p><%= link_to "Delete #{@e_scooter.name}",
                  e_scooter_path(@e_scooter),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-secondary mt-3" %></p>
  <% end %></p>
  <p><% if user_signed_in? && current_user.owner == false %>
    <p><%= link_to "Book this e_scooters", new_e_scooter_booking_path(@e_scooter), class: "btn btn-secondary mt-3" %></p>
  <% end %></p>
  <p><%= link_to "Back to e_scooters list", e_scooters_path, class: "btn btn-secondary mt-3 mb-3" %></p>
</div>
